* {
    text-align: center;
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;  
}

body {
    font-size: 1rem;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1;
    
}

p {
    margin:1rem;
}

div {
    margin:auto;
}


.content {
    margin: 64px auto;
  width: 94%;
  max-width: 640px;
    text-align: center;
}

.button {
    display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
  line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.button:hover {
    opacity: 0.85;
}

.button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button_primary {
    background-color: #1fa3ec;
}

.button_secondary {
    background-color: #e98724;
}

.button-icon {
    display: inline-block;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
    margin-right: 0.317rem;
}

.title {
    font-size: 40px;
    font-family: futura;
}

.text {
    font-size: 20px;
    font-family: futura;
}

.contact {
    font-size: 20px;
    font-family: futura;


}

.desc {
    font-size: 20px;
    font-family: tahoma;
}
.URL-input {
    width: 60%;
    padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 50%;
    
  }
  
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.button-container {
    width: 520px;
    overflow-y: auto;
}

.button-container > a {
    width: 100px;
    height: 80px;
    float: left;
    margin: 15px;
    align-items: center;
}